.middlebanner-container {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
}

.banner-image {
  width: 100%;
  height: 250px;
  display: block;
}

.middle-banner-container-crousel {
  display: flex;
  overflow-x: hidden; /* Enable horizontal scrolling */
  overflow-y: hidden; /* Disable vertical scrolling */
}

.banner-buttons {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
}

.prev {
  border: none;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}
.next {
  border: none;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.banner-buttons button:first-child {
  margin-right: 10px;
}

.banner-buttons button:last-child {
  margin-left: 10px;
}
.carousel-card-container {
  display: flex;
}

@media screen and (max-width: 768px) {
  .banner-buttons {
    display: none;
  }

  .middle-banner-container-crousel {
    overflow-x: auto;
    width: 100%;
  }
  .middle-banner {
    margin-left: 0px;
    margin-right: 0px;
  }
  .middle-banner-container {
    overflow-x: auto;
    width: 100%;
  }
  .middle-banner-container img {
    width: 50%;
    height: 120px;
  }
}

.scrollable-container {
  flex: 1; /* Take up the remaining space */
  /* Add overflow-y to enable vertical scrolling */
  overflow-y: auto;
  /* Enable smooth scrolling on iOS devices */
  -webkit-overflow-scrolling: touch;
}
